---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: application-external-secrets
  namespace: flux-system
spec:
  dependsOn:
  - name: application-external-secrets-controller
  interval: 30s
  path: ./deploy/workload/external-secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  kubeConfig:
    secretRef:
      name: crossplane-flux-cluster-connection
  validation: client
